.home {
  display: flex;
  flex-direction: column;
}

.home .container {
  display: flex;
  flex-direction: row;
}

.home .container .sidebar {
  flex: 1;
}

.home .container .mainContent {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.home .container .mainContent .widgets,
.home .container .mainContent .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.home .container .mainContent .charts {
  padding: 5px 20px;
}

.home .container .mainContent .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px #d11a1a78;
  padding: 20px;
  /* margin: 20px; */
}

.home .container .mainContent .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

.home .widgets,
.home .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.home .charts {
  padding: 5px 20px;
}

.home .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
