.home {
  display: flex;
  flex-direction: column;

  .homeContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 6;
  }
  .widgets,
  .charts {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  .charts {
    padding: 5px 20px;
  }
  .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #d11a1a78;
    padding: 20px;
    margin: 20px;
  }
  .listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
}
