.new {
  width: 100%;
  display: flex;
  flex-direction: column;
  .conatainer {
  }
  .newContainer {
    display: flex;
    flex-direction: row;
    flex: 6;
  }
  .top,
  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
  }
  .top > h1 {
    color: lightgray;
    font-size: 20px;
  }

  .left {
    flex: 1;
    text-align: center;
  }
  .left > img {
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50%;
  }
  .right {
    flex: 6;
    padding: 0px 20px;
  }
  .right > form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  .formInput {
    width: 40%;
  }
  .label {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .icon {
    cursor: pointer;
  }
  .input1 {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;
  }
  .button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
  }
}
