.new {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new .container {
  display: flex;
  flex-direction: row;
}
.new .sidebar {
  flex: 1;
}
.new .newContainer {
  display: flex;
  flex-direction: column;
  flex: 6;
}

/* .new .top,
.new .bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
} */

.new .top > h1 {
  color: lightgray;
  font-size: 20px;
}

.new .left {
  flex: 1;
  text-align: center;
}

.new .left > img {
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 50%;
}

.new .right {
  flex: 6;
  padding: 0px 20px;
}

.new .right > form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.new .formInput {
  width: 40%;
}

.new .label {
  display: flex;
  align-items: center;
  gap: 50px;
}

.new .icon {
  cursor: pointer;
}

.new .input1 {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid grey;
}

.new .button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}
