.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  font-size: 14px;
  color: #555;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logout-container {
  cursor: pointer;
  padding: 5px 10px;
  top: 40px;
  left: 0;
  position: absolute;
  border: 1px solid #ccc;
  background-color: greenyellow;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  opacity: 1;
  color: grey;
  letter-spacing: 0.5px;
}

.logout-container.is-closed {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}
.search {
  display: flex;
  border: 0.5px solid lightgray;
  align-items: center;
  padding: 3px;
}
.search > input {
  border: none;
  outline: none;
  background: transparent;

  &::placeholder {
    font-size: 12px;
  }
}

.items {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.icon {
  font-size: 20px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.counter {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: bold;
  font-size: 10px;
}
