.datatable {
  display: flex;
  padding: 30px;
}

.datatable .datatableTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 24px;
  color: grey;
  margin-bottom: 10px;
  position: relative;
  gap: 20px;
}

.datatable .title {
  top: 0;
  left: 0;
  margin-bottom: 10px;
}

.datatable .link {
  margin: 10px;
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}

.datatable .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.datatable .deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

.cellWithImg {
  display: flex;
  align-items: center;
}
.cellImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
